<div class="swiper-wrapper">
  <swiper class="swiper" [config]="config">
    <ng-template swiperSlide class="swiper-slide">Slide 1</ng-template>
    <ng-template swiperSlide class="swiper-slide">Slide 2</ng-template>
    <ng-template swiperSlide class="swiper-slide">Slide 3</ng-template>
    <ng-template swiperSlide class="swiper-slide">Slide 4</ng-template>
    <ng-template swiperSlide class="swiper-slide">Slide 5</ng-template>
    <ng-template swiperSlide class="swiper-slide">Slide 6</ng-template>
  </swiper>
</div>
