.categories-wrapper {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(141, 173, 61, 1) 0%,
    rgba(157, 200, 26, 1) 51%,
    #adce37 100%
  );
  .categories-container {
    margin: 0 3rem 0 3rem;

    .categories {
      display: flex;
      list-style: none;
      justify-content: space-around;

      li {
        padding: 0.5rem;
        font-size: 16px;
        font-weight: 400;

        cursor: pointer;

        a {
          color: black;
        }
      }
    }
  }
}
