.subcats-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: 1000px;

  .product-sorting {
    display: flex;
    .filter {
    font-weight: 500;
    margin: 15px;
  }
  .filter-param {
    margin: 15px;
    cursor: pointer;

    &:hover {
      color: blueviolet;
      text-decoration: underline;
    }
  }
  }

  .subcat-products {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    position: relative;
    margin: 1rem;
    padding: 0;
    text-align: center;
    border: 1px solid #e1e1e1;
    box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .product-options-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    transition: all 0.48s ease;

    li button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      border-radius: 0;
      padding: 12px 18px;
      background: #fff;
      color: #a6a6a6;
      cursor: pointer;
      transition: all 0.48s ease;

      &.add-to-favorite:hover {
        background: #dd1f26;
      }

      &.add-to-card:hover {
        background: #7a0085;
      }

      span {
        margin-right: 7px;
      }
    }
  }

  .product-img {
    margin: 10px auto;
    width: 140px;
    height: 140px;
    // background-image: url("../../assets/icons/qustionmark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.45s;
  }

  .product-raiting {
    text-align: center;
  }

  .product-info {
    position: relative;
    bottom: 0;
    p {
      max-width: 15rem;
    }

    .product-price {
      font-weight: 500;
      font-size: 16px;
      color: #719e00;
    }
  }
}
.product:hover .product-options-list {
  li button {
    background: #191a19;
    color: #fff;
  }
}

.product:hover {
  .product-img {
    transform: scale(1.1);
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.load-more-btn {
  margin-bottom: 30px;
}
